body {
  margin: 0px;
  font-family: Sacramento, cursive;
  font-size: 25px;
  padding: 10px;
  text-align: center;
  background-color: #B7BDBB;
  text-shadow: 2px 2px lightgray;
}

.ttt-row {
  display: flex;
  flex: 1 1 auto;
  justify-content: space-evenly;
  width: 400px;
  margin: 0px auto;
}

.ttt-square {
  flex-grow: 1;
  border: solid black 3px;
  min-height: 100px;
  width: 30%;
}

#game-over {
 background-color: rgba(0,0,0,0.5);
 position: fixed;
 z-index: 999;
 top: 0px;
 left: 0px;
 right: 0px;
 bottom: 0px;
 display: none;
}

#game-over div {
  background-color: white;
  width: 40%;
  border-radius: 10px;
  text-align: center;
  padding: 30px;
  margin: 200px auto;
  font-size: 2rem;
}
